<h2 id="page-title">Albums</h2>
      <div id="album-view">
        <% @albums.each do |album| %>
          <div class="album">
            <div class="cover-art">
              <%= link_to image_tag(album.artwork.url(:grid)), album %>
            </div><!-- /#cover-art -->
            <h3 class="album-title"><%= link_to (album.title), album %></h3>
            <p class="track-qty"><%= album.tracks.count %> <%= album.tracks.count > 1 ? "tracks" : "track" %></p>
          </div><!-- /album -->
          
        <% end %>
          
      </div><!-- /#album-view -->
