/*----- COLOR SCHEME -----*/
/* TABS COLORS */
/*----- MIXINS -----*/
/*---- UTILITIES ----*/
/* line 36, ../scss/css-inc.scss */
.tuck {
  margin-left: -10000px;
  text-indent: -10000px;
}

/* line 41, ../scss/css-inc.scss */
.clearfix {
  clear: both;
}

/* line 6, ../scss/login.scss */
.login #login {
  margin: 0 auto;
  width: 460px;
  padding: 100px 0 0 0;
}
/* line 10, ../scss/login.scss */
.login #login header.login {
  width: 460px;
  margin: 0 auto;
  padding: 0 0 30px 0;
}
/* line 14, ../scss/login.scss */
.login #login header.login h1 {
  margin: 0 auto;
}
/* line 19, ../scss/login.scss */
.login #login #main-content {
  margin: 0 auto;
  width: 460px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
}
/* line 25, ../scss/login.scss */
.login #login #main-content .login-header {
  background: url(login-bg.png) repeat-x;
  height: 63px;
  display: block;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
/* line 30, ../scss/login.scss */
.login #login #main-content .login-header h2 {
  display: block;
  margin: 0;
  padding: 18px 0 0 50px;
  color: white;
  font: 25px 'Yanone Kaffeesatz', Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 40, ../scss/login.scss */
.login #login #main-content form {
  padding: 20px 50px;
}
/* line 42, ../scss/login.scss */
.login #login #main-content form .field-wrapper {
  padding: 0 0 20px 0;
  display: block;
  height: 50px;
  clear: both;
}
/* line 47, ../scss/login.scss */
.login #login #main-content form .field-wrapper label {
  float: left;
  padding: 15px 10px 0 0;
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #12a1dd;
  width: 75px;
  letter-spacing: 1px;
}
/* line 57, ../scss/login.scss */
.login #login #main-content form .field-wrapper .field {
  float: left;
  background-color: #f2f2f2;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  display: block;
  height: 100%;
  left: -8px;
  padding: 5px 5px 0px 5px;
  top: -8px;
  width: 72%;
}
/* line 68, ../scss/login.scss */
.login #login #main-content form .field-wrapper .field input {
  width: 96%;
  position: relative;
  height: 52%;
}
/* line 74, ../scss/login.scss */
.login #login #main-content form .field-wrapper input.login-button {
  float: right;
}
